/* Created by TopStyle Trial - www.topstyle4.com */
body {
	color: aqua;
	background-image: url(social-media-100.jpg);
	
}

h1 {
	background: #00bfff;
	color : floralwhite;
    font-size: 45;
	
}

h2 {
	background: #FF0000;
	color : yellow;
    font-size: 35;
	
}

p {
    color : cyan
    font-size: 25;
    text-shadow: #000 0px 1px 5px;
}

a {
  color : aliceblue;
    font-size: 25;
    text-shadow: #000 0px 0px 3px;
        
        
}